<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jamessulak.bear</string>
	<key>connections</key>
	<dict>
		<key>1A741966-5341-40BC-996D-68EAB30F62AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5A16924-B144-4D1A-8E47-FBA4467F58A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>51A953FB-0819-4905-9E40-EFA2479B54C1</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open note in new window</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>27301AF7-4617-48C3-A798-F5C46DA6041F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68A44B4F-190D-41C3-ACC9-7E288337B311</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51A953FB-0819-4905-9E40-EFA2479B54C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30BC7933-7524-4289-8C83-0D03B97C57CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>74B5AEA1-6AFC-4867-A76D-0FD11694A60D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7C7DDC1-B797-4FF0-8AA0-0362C306C19A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A10CF1DB-F3D4-4248-A45A-0954FE2C61E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34803D0C-B70E-4032-96FA-E0A5E179236A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5A16924-B144-4D1A-8E47-FBA4467F58A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30BC7933-7524-4289-8C83-0D03B97C57CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB59706E-CBD1-46B9-B4B1-49CD5F57EC17</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>04FF7AC0-5B1F-49E2-969F-945AE99890A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Brown (adapted by James Sulak)</string>
	<key>description</key>
	<string>Search and create Bear notes from Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bear</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>bear://x-callback-url/open-note?id={query}&amp;edit=yes</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A5A16924-B144-4D1A-8E47-FBA4467F58A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>b</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/usr/bin/python search.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Bear Notes</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1A741966-5341-40BC-996D-68EAB30F62AA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "System Events"		key code 126 using {command down}	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>30BC7933-7524-4289-8C83-0D03B97C57CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>bear://x-callback-url/open-note?id={query}&amp;new_window=yes&amp;show_window=no&amp;edit=yes</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>51A953FB-0819-4905-9E40-EFA2479B54C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/usr/bin/python search.py -t a "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search Bear Notes by Tag</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A10CF1DB-F3D4-4248-A45A-0954FE2C61E7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>orig_query={query}
echo $orig_query
if [[ $orig_query == ":t:"* ]]; then
	new_query=${orig_query:3}
	open "bear://x-callback-url/open-tag?name=$new_query"
else
	new_query=${orig_query:3}
	open "bear://x-callback-url/open-note?id=$new_query"
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>34803D0C-B70E-4032-96FA-E0A5E179236A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/usr/bin/python create.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Create New Bear Note</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>74B5AEA1-6AFC-4867-A76D-0FD11694A60D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "bear://x-callback-url/create?{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B7C7DDC1-B797-4FF0-8AA0-0362C306C19A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open "bear://x-callback-url/create?new_window=yes&amp;edit=yes&amp;text=# &amp;show_window=no"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>04FF7AC0-5B1F-49E2-969F-945AE99890A6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>newbn</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Create blank note</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CB59706E-CBD1-46B9-B4B1-49CD5F57EC17</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>53</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>⎋</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedApps</key>
				<array>
					<string>net.shinyfrog.bear</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>27301AF7-4617-48C3-A798-F5C46DA6041F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "System Events" to tell process "Bear"
		tell menu bar 1
			tell menu bar item "View"
				tell menu "View"
					click menu item "Show All Notes"
				end tell
			end tell
		end tell
	end tell

	tell application "System Events"		keystroke "f" using {command down, shift down}
		key code 51	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>68A44B4F-190D-41C3-ACC9-7E288337B311</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Bear Alfred Workflow

[Alfred 3 workflow](https://www.alfredapp.com/workflows/) to search and create notes in [Bear](http://www.bear-writer.com/).

## Install
To install, download a released alfred-bear.alfredworkflow and double-click to open in Alfred 3. Easy-peasy.

## Searching and opening results 
- `bs` -- Search for a note by title and open it in Bear.
- `bt` -- Search for a tag (a group of notes) by tag title and open it in Bear.

## Creating a new note
- `bn` -- Create a new note with input as title. Tags optional.
	- `bn I love notes!` -- Creates a new note with the title and text "*I love notes!*"
	- `bn I love notes! #love #notes` -- Creates a new note with the title and text "*I love notes!*" and the tags "*#love*" and "*#notes*"</string>
	<key>uidata</key>
	<dict>
		<key>04FF7AC0-5B1F-49E2-969F-945AE99890A6</key>
		<dict>
			<key>note</key>
			<string>Create blank note</string>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>1A741966-5341-40BC-996D-68EAB30F62AA</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>27301AF7-4617-48C3-A798-F5C46DA6041F</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>890</integer>
		</dict>
		<key>30BC7933-7524-4289-8C83-0D03B97C57CD</key>
		<dict>
			<key>note</key>
			<string>Move cursor to top of window</string>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>34803D0C-B70E-4032-96FA-E0A5E179236A</key>
		<dict>
			<key>note</key>
			<string>Open in main window</string>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>51A953FB-0819-4905-9E40-EFA2479B54C1</key>
		<dict>
			<key>note</key>
			<string>Open in new window</string>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>68A44B4F-190D-41C3-ACC9-7E288337B311</key>
		<dict>
			<key>note</key>
			<string>View all notes and activate note search</string>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>890</integer>
		</dict>
		<key>74B5AEA1-6AFC-4867-A76D-0FD11694A60D</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>A10CF1DB-F3D4-4248-A45A-0954FE2C61E7</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>A5A16924-B144-4D1A-8E47-FBA4467F58A7</key>
		<dict>
			<key>note</key>
			<string>Open in main window</string>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>B7C7DDC1-B797-4FF0-8AA0-0362C306C19A</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>CB59706E-CBD1-46B9-B4B1-49CD5F57EC17</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.3.5</string>
	<key>webaddress</key>
	<string>https://github.com/jsulak/alfred-bear</string>
</dict>
</plist>
